<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:with="title='User Dashboard'">
        <th:block th:replace="~{fragments/styles :: header(title=${title})}"></th:block>
    </head>

    <body>
        <div th:replace="~{fragments/topbar :: #top-nav}"></div>

        <!-- Main Content -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Content -->
                    <h1>Dashboard</h1>
                    <p>Welcome to the user dashboard!</p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>